/.metadata
/.metadata
*.dat
.metadata/.bak_0.log
.metadata/.bak_1.log
.metadata/.bak_2.log
.metadata/.bak_3.log
.metadata/.bak_4.log
.metadata/.bak_5.log
.metadata/.bak_6.log
.metadata/.bak_7.log
.metadata/.bak_8.log
.metadata/.bak_9.log
.metadata/.ide.log
.metadata/.log
.metadata/.plugins/com.st.stm32cube.ide.mcu.livewatch/params.dat
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/part1_discetize.1771906596757.pdom
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/part1_discetize.build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/part1_discetize/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/part1_discetize/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/part1_discetize/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
