
# --- STM32 Specific ---
.metadata/
**/Debug/
**/Release/
*.elf
*.bin
*.map
*.hex
*.list
*.o
*.d
.settings/
.cache/

# --- MATLAB Specific ---
*.asv
*.slxc
*.mex*
*.log
slprj/
/Lab2_part_234/lab2_part23_img
/Lab2_part_234/lab2_part2_results
/Lab2_part_234/lab2_part2_results
/Lab2_part_234/lab2_part3_results
*.zip
